footer{
    background-color:rgb(146, 5, 146);

margin-top: 40px;
}
.redes{
    font-size:2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    padding: 30px;
    margin: auto;
   
}
