.redes{
    
    background-color:  purple;
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    .logos{
        height: 10vh;
    }
    ul {
        display: flex;
        justify-content: space-around;
        width: 60%
    }

}